html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black url(../images/background.jpg) center center no-repeat;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}